Internet standards

**Compilation of internet standards (adopted or drafted) that should be taken in account**
- [ ]  IP Version 6 Addressing Architecture [RFC 3513](http://tools.ietf.org/html/rfc3513)
- [ ] DOMAIN NAMES - CONCEPTS AND FACILITIES [RFC 1034](http://tools.ietf.org/html/rfc1034)
- [ ] Uniform Resource Identifier (URI): Generic Syntax [RFC 3986](http://tools.ietf.org/html/rfc3986)
- [ ] The JavaScript Object Notation (JSON) Data Interchange Format [RFC 7159](http://tools.ietf.org/html/rfc7159)
- [ ] JavaScript Object Notation Pointer [RFC 6901](http://tools.ietf.org/html/rfc6901)
- [ ] [JSON Schema repo, with links to specs](https://github.com/json-schema/json-schema)
- [ ] Date and Time on the Internet: Timestamps [RFC 3339](http://tools.ietf.org/html/rfc3339)


** ISO 639-2 **: _ Codes for the representation of names of languages-- Part 2: alpha-3 code _

http://loc.gov/standards/iso639-2/ISO-639-2_utf-8.txt

Leading from http://stackoverflow.com/questions/3217492/list-of-language-codes-in-yaml-or-json

http://json-ld.org/
